@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Hola Ricardo, se que veras esto espero que si puedas trabajar con este esqueleto :D</h2>
    <p> si no puedes es que no le sabes al MVC</p>
</div>
