@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-center">
        <h1 class="display-4" style="margin-bottom: 2rem;">Proyecto final seguridad informatica</h1>
        <h3 style="margin-top: 90px">Rodrigo Gutierrez Morquecho y Martin Ricardo Soto Gastelo</h3>
    </div>

</div>
